<aside class="panel">
  <nav class="panel__menu">
    <a class="panel__menu-a" href="../pages/proyects.html">Proyectos</a>
    <a class="panel__menu-a" href="#sobre-mi">Sobre Mi</a>
    <a class="panel__menu-a" href="../pages/contact.html">Hablemos</a>
  </nav>
</aside>

<button class="panel-btn hamburger hamburger--vortex" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>

<button class="scroll-top-btn hidden"><i class="far fa-hand-pointer"></i></button>

<section class="overlay" id="overlay">
  <div class="overlay__container-img">
    <button id="btn-cerrar-popup"><i class="fas fa-times"></i></button>
    <img class="overlay__img" src="" alt="overlay">
  </div>
  <p class="overlay__description"></p>
</section>