<footer class="footer">
  <section class="footer__social-network">
    <div class="footer__container-icon">
      <a href="https://www.facebook.com/ddamianvigo" target="_blank" rel="noopener" class="footer__fb">
        <i class="fab fa-facebook footer__icon"></i>
      </a>
    </div>
    <div class="footer__container-icon">
      <a href="https://platzi.com/@Damian" target="_blank" rel="noopener" class="footer__platzi">
        <i class="fas fa-graduation-cap footer__icon"></i>
      </a>
    </div>
    <div class="footer__container-icon">
      <a href="https://github.com/damianvigo" target="_blank" rel="noopener" class="footer__github">
        <i class="fab fa-github footer__icon"></i>
      </a>
    </div>
  </section>
  <div class="footer__author">
    <p>Damián Vigo &copy; 2021</p>
    <div class="footer__author__sergey">
      <p>Powered by</p>
      <a class="footer__author__sergey-link" target="_blank" rel="noopener" href="https://sergey.cool/">
        <img src="../../assets/icon/sergey.svg" alt="logo de Sergey" title="Sergey" />
      </a>
    </div>
  </div>
</footer>