<header class="header">
  <a href="../../index.html" class="header__logo objective-enter-out-1 animate-text-1 header__logo--text">DVDEV</a>
  <nav class="haeder__menu">
    <ul class="header__menu-ul">
      <li class="header__menu-li"><a class="header__menu-a" href="../../pages/proyectos.html">Proyectos</a></li>
      <li class="header__menu-li"><a class="header__menu-a" href="../../pages/notas.html">Notas</a></li>
      <li class="header__menu-li"><a class="header__menu-a" href="../../pages/contacto.html">Hablemos</a></li>
    </ul>
  </nav>
  <button class="switch" id="switch">
    <span class="switch__span"><i class="fas fa-sun switch__icon--sun"></i></span>
    <span class="switch__span"><i class="fas fa-moon switch__icon--moon"></i></span>
  </button>
</header>