/*
  1. Posicionamiento
  2. Modelo de caja
  3. Tipografia
  4. Visuales
  5. Miscelaneos
*/

:root {
  --font-rale: 'Raleway', sans-serif;
  --size-300: 300;
  --size-400: 400;
  --size-700: 700;
  --size-900: 900;
  --primary-color: #fff;
  --secondary-color: #1f1f1f;
  --background-color: #f2f2f2;
  --soft-shadow: 10px 10px 20px rgba(248, 248, 248, 0.16);
  --text-color: #333;
  --text-color-night: #eee;
  --javascript-color: #f7df1e;
  --color-boton: #367edf;
  --modal-color: rgba(34, 34, 34, .85);
  --container-lg: 1200px;
  --container-md: 992px;
  --container-sm: 500px;
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-rale);
  scroll-behavior: smooth;
  overflow-x: hidden
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  transition: color 0.3s ease;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  text-align: center;
  font-weight: var(--size-900);
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.none {
  display: none;
}

.filter {
  visibility: hidden;
  opacity: 0;
  order: 1;
}

[id] {
  scroll-margin-top: 15ex;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
}

.overlay.active {
  display: flex;
}

.overlay__container-img {
  position: relative;
}

.overlay__img {
  max-width: 100%;
}

#btn-cerrar-popup {
  background: none;
  font-size: 1.25em;
  color: var(--primary-color);
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: -1.25rem;
  top: -1.25rem;
}

.overlay__description {
  display: block;
  background: var(--primary-color);
  border-radius: 1rem;
  padding: 2.25rem;
  font-size: 2rem;
  text-align: center;
  max-width: 90%;
}

/* Aside Panel */
.panel {
  position: fixed;
  z-index: 998;
  background-color: var(--modal-color);
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translate(-100%, 0%);
}

.panel.is-active {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.panel__menu {
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.panel__menu-a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.panel__menu-a:hover {
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--modal-color);
}

.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-boton);
  color: var(--primary-color);
  outline: none;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: var(--primary-color);
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: var(--primary-color);
}

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(6.25rem + 1vw);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  font-size: 3em;
  font-weight: bold;
  background-color: var(--color-boton);
  color: var(--primary-color);
  outline: none;
  border: 0;
  transition: 0.3s ease-out all;
}

.scroll-top-btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--primary-color);
}

/* Header */
.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  font-size: 2.5rem;
  background-color: transparent;
  letter-spacing: 2px;
}

.dark {
  background-color: var(--secondary-color);
  color: var(--text-color-night);
  transition: .3s all ease-in-out;
}

.sticky {
  transition: .3s all ease;
  background-color: var(--secondary-color);
  color: #fff;
  z-index: 997;
}

body.dark .header.sticky {
  background-color: var(--text-color);
}

.header__logo {
  text-decoration: none;
  color: var(--primary-color);
}

.header__logo--text {
  display: flex;
  overflow: hidden;
}

.header__logo--text > div {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: .3s ease all;
}

.header__logo--text > div.animation {
  transform: translateY(-30px);
}

/* .header__logo--text > div span {
 
} */

.second-line {
  position: absolute;
  top: 3rem;
}

.header__menu-ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  display: none;
}

.header__menu-li {
  margin: 0 .5rem;
}

.header__menu-a {
  text-decoration: none;
  color: var(--primary-color);
}

.switch {
  background: #343d5b;
  border-radius: 62.5em;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch::after {
  content: '';
  display: block;
  width: 1.875em;
  height: 1.875em;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 6.25em;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: orange;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch__span {
  width: 1.875em;
  height: 1.875em;
  line-height: 1.875em;
  display: block;
  background: none;
  color: var(--primary-color);
}

.hero-image {
  overflow: hidden;
  background-image: url('../img/my-desktop.jpg');
  color: var(--primary-color);
  width: 100%;
  height: 600px;
  min-width: 320px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-image__transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.75);
}

.hero-image-perfil {
  margin: 0 auto;
}

.hero-image__perfil>* {
  color: var(--text-color-night);
  margin-top: 2rem;
}

.hero-image__title {
  font-size: 3.5rem;
}

.hero-image__subtitle {
  font-size: 4rem;
}

.hero-image__img-perfil--img {
  border-radius: 50%;
  vertical-align: top;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

/* Perfil */
.perfil {
  width: 100%;
  min-width: 320px;
  max-width: var(--container-lg);
  margin: 1rem auto;
}

.perfil__title-me {
  font-size: 4.2rem;
  color: var(--text-color);
  padding: 2rem;
}

body.dark .perfil__title-me {
  color: var(--text-color-night);
}

.perfil__description-me {
  width: 90%;
  margin: 0 auto;
}

.btn-wsp {
  text-decoration: none;
  width: 100%;
  min-width: 250px;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.2rem;
  line-height: 1rem;
  padding: 2rem 0;
  background: var(--color-boton);
  color: var(--primary-color);
  font-weight: var(--size-700);
  border-radius: 10px;
  margin: 2rem auto;
  transition: all .6s ease;
  border: .2rem solid var(--secondary-color);
}

.btn-wsp>span {
  margin-right: 1rem;
}

.btn-wsp:hover {
  color: var(--secondary-color);
  background-color: var(--text-color-night);
}

.btn-wsp:hover span {
  background-color: #25D366;
  border-radius: 50%;
}

.perfil__text-me {
  font-size: 2rem;
  line-height: 2.8rem;
  padding: 1rem;
  margin: 1rem 0;
}

/* Tecnologias */
.perfil__icons__figure--svg {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

/* body.dark .perfil__icons__figure--svg:nth-child(8) {
background-color: white;
border-radius: 1rem;
} */

body.dark .perfil__icons__figure--svg:nth-child(11) {
  background-color: white;
  border-radius: 1rem;
}

.perfil__icons__figure--svg:nth-child(13) {
  width: 9rem;
}

.perfil__icons__figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Cita */
.cite-container {
  width: 100%;
  min-width: 320px;
  padding-top: 8rem;
}

.cite-container__cite {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/connect-background-white.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

.cite-container__davinci {
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: var(--size-400);
  text-align: center;
  padding: 0 1.5rem;
}

body.dark .cite-container__davinci {
  color: var(--text-color);
}

/* Ultimos Proyectos */

.last-proyects {
  width: 100%;
  min-width: 320px;
  max-width: 90%;
  margin: 5rem auto;

}

.last-proyects__primary-title {
  font-size: 4.2rem;
  color: var(--text-color);
  padding: 2rem;
  margin: 2rem 0;
}

body.dark .last-proyects__primary-title {
  color: var(--text-color-night);
}

.last-proyects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 5rem auto;
}

body.dark .last-proyects-container {
  color: var(--text-color);
}

.last-proyects-container-fluid {
  width: 100%;
  flex: 1 1 200px;
  margin: 1rem auto;
  padding: 2rem;
  background-color: var(--background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
}

.last-proyects-container-fluid__title {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 2.5rem;

}

.last-proyects-container-fluid__description {
  font-size: 2rem;
  color: var(--size-400);
  line-height: 3rem;
}

.last-proyects-container-fluid__figure {
  width: 100%;
}

.last-proyects-container-fluid__figure:hover {
  opacity: .7;
}

.last-proyects-container-fluid__img {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.last-proyects-container-fluid-link {
  cursor: pointer;
}

/* Boton */
.container-button {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  border-radius: 8px;
  color: var(--text-color-night);
  cursor: pointer;
  box-shadow: 3px 5px 10px rgba(56, 56, 56, 0.9);
}

.container-button a {
  display: inline-block;
  padding: 2rem;
  font-size: 2.5rem;
}

body.dark .container-button {
  background-color: var(--background-color);
  box-shadow: var(--soft-shadow);
}

.container-button:hover {
  opacity: .8;
}

.button {
  color: var(--text-color-night);
  text-decoration: none;
}

body.dark .button {
  color: var(--text-color);
}

.fix-sticky {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  height: 80px;
  background-color: #666;
}

.proyects-title {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  margin-top: 6rem;
}

.proyects-title__h1 {
  margin: 4rem 0;
  font-size: 4.2rem;
}

body.dark h1 {
  color: var(--text-color-night);
}

.wrapped-card {
  background-color: var(--secondary-color);
  padding: 5rem 0;
}

.grid-fluid {
  margin: 1rem auto;
  max-width: 90%;
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: end;
}

.card {
  width: 90%;
  height: auto;
  margin: 2rem auto;
  border: 1px solid #1f1f1f;
  border-radius: 5px;
  text-align: right;
  background-color: var(--background-color);
}

body.dark .card {
  background-color: var(--text-color);
  color: var(--text-color-night);
}

body.dark .card-title {
  color: var(--primary-color);
}

.card-code {
  text-decoration: none;
  transition: .3s all ease-in-out;
}

.card-code:hover {
  text-decoration: underline;
}

body.dark .card-code {
  transition: .3s all ease-in-out;
  color: var(--primary-color);

}

.card__card-figure:hover {
  transition: opacity .3s;
  opacity: 0.7;
}

.card-title {
  text-align: start;
  padding: 1.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: var(--size-900);
}

.card-description {
  font-size: 1.7rem;
  line-height: 2.5rem;
  padding: 1.5rem;
  text-align: left;
}

.card-code {
  display: inline-block;
  padding: 2rem;
  color: var(--text-color);
  font-size: 1.7rem;
  line-height: 1.9rem;
}

.card__card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Buscador */
.container-filter {
  width: 90%;
  min-width: 320px;
  max-width: var(--container-lg);
  margin: 0 auto;
}

.search-container {
  padding: 1em;
  margin: 3rem auto;
}

.filter-title {
  color: var(--text-color);
  font-size: 3.5rem;
  margin-bottom: 4rem;
}

body.dark .filter-title {
  color: var(--primary-color);
}

.card-filter-input {
  display: block;
  width: 100%;
  max-width: var(--container-sm);
  height: 40px;
  margin: 0 auto;
  color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  text-align: center;
  height: 5rem;
  outline: 0;
}

::placeholder {
  font-family: var(--font-rale);
  color: var(--text-color-night);
  text-align: center;
}

.cards-filter__card {
  cursor: pointer;
}

.cards-filter__card img:hover {
  opacity: .7;
  transition: all 0.3s ease-out;
}

.cards-filter__figcaption {
  color: var(--text-color);
  font-weight: var(--size-700);
  margin: 1rem 0;
  font-size: 2.5rem;
  text-align: center;
}

body.dark .cards-filter__figcaption {
  color: var(--text-color-night);
}

.cards-filter__icon {
  width: 100px;
  height: 100px;
  color: #000;
  font-size: 2rem;
}

.cards-filter__container-icon {
  margin: 1rem 0;
  text-align: center;
}

.cards-filter__container-icon--icon {
  color: var(--secondary-color);
  text-decoration: none;
}

body.dark .cards-filter__container-icon--icon {
  color: var(--text-color-night);
}

body.dark .overlay__description {
  color: var(--text-color);
}

.cards-filter__container-icon--icon:hover {
  opacity: .7;
}

.fa-github {
  font-size: 3rem;
}

/* Contacto */
.contact {
  text-align: center;
  margin-top: 12.5rem;
}

.contact__title {
  font-size: 4.2rem;
  margin-bottom: 3.125rem;
}

body.dark .contact__title {
  color: var(--text-color-night);
}

.form-background {
  background-image: url('../img/contact-me.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
}

.form-background__transparent {
  min-height: inherit;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contacto - Validacion - Formulario */
.contact-form {
  padding: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: var(--container-sm);
}

.contact-form>* {
  padding: .8rem;
  margin: 1rem auto;
  margin-top: 4rem;
  display: block;
  width: 100%;
  outline: none;
}

.contact-form__text {
  background-color: var(--secondary-color);
  color: var(--text-color-night);
}

.contact-form textarea {
  resize: none;
}

.contact-form__response {
  font-size: 2rem;
  text-align: center;
  color: var(--primary-color);
}

.contact-form input,
.contact-form textarea {
  font-size: 1.8rem;
}

.contact-form input[type='submit'] {
  max-width: 30%;
  border: 0;
  background: #34495e;
  color: var(--primary-color);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.5s;
  padding: 1rem;
}

.contact-form input[type='submit']:hover {
  background-color: #367edf;
}

.contact-form *::placeholder {
  text-align: start;
  font-family: var(--font-rale);
  color: var(--primary-color);
}

.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
}

.contact-form__loader {
  margin: 3.125em 0;
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 1.7rem;
  background-color: var(--form-error-color);
  color: var(--primary-color);
  transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* Footer */
.footer {
  width: 100%;
  min-width: 320px;
  margin: 5rem 0;
  transition: 0.3s ease all;
}

.footer__social-network {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.footer__fb,
.footer__platzi,
.footer__github {
  display: block;
  width: 6rem;
  height: 6rem;
  color: #fff;
  margin: 1.25rem;
  text-align: center;
  border-radius: 6.25em;
  transition: 0.3s ease all;
}

.footer__fb i,
.footer__platzi i,
.footer__github i {
  font-size: 2.5rem;
  line-height: 5.5rem;
}

.footer__fb {
  background-color: #3b5998;
}

.footer__platzi {
  background-color: #6cc644;
}

.footer__github {
  background-color: #000;
}

.footer__author__sergey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: var(--size-400);
  margin: 2rem;
}

.footer__author>p {
  margin: 3rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: var(--size-400);
}

.footer__author__sergey p {
  font-size: 1.5rem;
}

.footer__author__sergey>img {
  width: 250px;
  height: 50px;
  margin-left: 1rem;
}

.footer__container-icon a:hover {
  animation: icon 0.5s ease;
  color: var(--primary-color);
}

@keyframes icon {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }

  to {
    transform: rotate3d(0, 1, 0, 360deg)
      /* y - x - z */
  }
}

.notes {
  width: 100%;
  max-width: var(--container-md);
  min-width: 320px;
  margin: 0 auto;
}

.notes__title {
  width: 80%;
  font-size: 4.2rem;
  padding: 3rem;
  text-align: start;
  margin: 0 auto;
}

.notes__subtitle {
  width: 80%;
  text-align: start;
  margin: 0 auto;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: var(--size-700);
}

.notes-container__a {
  text-decoration: none;
}

.notes-container__figure {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 100px;
  margin: 3rem auto;
}

.notes-container__figcaption {
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: space-evenly;
  font-size: 2rem;
}

.notes-container__span {
  color: var(--text-color);
  font-weight: var(--size-700);
  font-size: 2rem;
}

.notes-container__img {
  width: 4rem;
}

.notes-container__time {
  color: var(--text-color);
  font-weight: var(--size-300);
}

body.dark .notes * {
  color: var(--text-color-night);
}

body.dark .notes-blog * {
  color: var(--text-color-night);
}

.notes-blog {
  width: 100%;
  min-width: 320px;
  max-width: var(--container-sm);
  margin: 0 auto;
  padding: 5rem 0;
}

.notes-blog>* {
  margin: 2rem;
  font-size: 2rem;
}

.notes-blog h1 {
  font-size: 4.2rem;
}

.notes-blog h2 {
  font-size: 3.5rem;
  margin: 5rem 0;
}

.notes-blog h3 {
  font-size: 3rem;
  margin: 5rem 0;
}

.notes-blog p {
  line-height: 3rem;
}

.notes-blog ul {
  margin-left: 5rem;
}

.notes-blog ul li {
  margin-bottom: 2rem;
}