.header {
  font-size: 2.5rem;
}

.hero-image {
  height: 100vh;
}

.hero-image__title {
  font-size: 11rem;
}

.hero-image__subtitle {
  font-size: 9rem;
}

.hero-image__img-perfil--img {
  width: 18rem;
  height: 20rem;
}

.last-proyects-container {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.last-proyects-container-fluid {
  flex: 0 1 30%;
}

.last-proyects-container-fluid__img {
}

.container-card {
  max-width: var(--container-lg);
}

.contact-form__response {
  font-size: 2.7rem;
  text-align: center;
  color: var(--primary-color);
}
